@font-face {
  font-family: "Jost";
  font-style: normal;
  src: url(./Jost-VariableWeight.woff2) format("woff2-variations");
}

* {
  margin: 0;
  padding: 0;
  border-box: 0;
}

:root {
  font-family: "Jost", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-background: #dc0018;
  --color-onBackground: #fff;

  --color-primary: #fec415;
  --color-onPrimary: #292a2a;

  --color-error: #f7001d;
  --color-onError: #fff;

  --color-success: #2d8640;
  --color-onSuccess: #fff;

  --scale: 1.25;
  --base: 1rem;

  --font-size-200: calc(var(--font-size-400) / (var(--scale) * 1.065));
  --font-size-300: calc(var(--font-size-400) / (var(--scale) * 0.912));
  --font-size-400: var(--base);
  --font-size-500: calc(var(--font-size-400) * var(--scale));
  --font-size-600: calc(var(--font-size-500) * var(--scale));
  --font-size-700: calc(var(--font-size-600) * var(--scale));
  --font-size-800: calc(var(--font-size-700) * var(--scale));
}

::selection {
  background: var(--color-primary);
  color: #292a2a;
}

body {
  min-height: 100dvh;
  background: var(--color-background);
  color: var(--color-onBackground);
}

ul {
  list-style: none;
  text-align: left;
}

ul a {
  font: inherit;
  color: inherit;
}

.display {
  font-size: var(--font-size-800);
  font-weight: 700;
  margin-top: .575rem;
}

h1,
.h1 {
  font-size: var(--font-size-700);
  font-weight: 700;
}

h2,
.h2 {
  font-size: var(--font-size-600);
  font-weight: 700;
}

h3,
.h3 {
  font-size: var(--font-size-500);
  font-weight: 600;
}

h4,
.h4 {
  font-size: var(--font-size-400);
  font-weight: 500;
}

small {
  font-size: var(--font-size-300);
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto 0;
  align-self: center;
  padding: 2rem 0;
}

button,
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: none;
  font: inherit;
  font-weight: 700;
  font-size: var(--font-size-500);
  cursor: pointer;
  text-decoration: none;
}

button,
.btn-primary {
  background: var(--color-primary);
  color: var(--color-onPrimary);
}

.btn-secondary {
  background: transparent;
  border: 2px solid var(--color-onBackground);
  color: var(--color-onBackground);
}

.btn-exit-top {
  align-self: start;
  margin-top: 1.5rem;
}

.page-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 0 1.5rem;
  text-align: center;
  max-width: 80em;
}

/* Landing Page */

.page-container--home {
  overflow: hidden;
  padding: 0rem 1.5rem 1.5rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 7rem 0 1rem;
  text-align: center;
}

.landing-page > .btn-group {
  margin-top: auto;
}

@keyframes marquee {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

.circles {
  position: absolute;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  animation: marquee 20s linear infinite;
  gap: 1rem;
}

.circles-left,
.circles-right {
  display: flex;
  gap: 1rem;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: var(--color-onBackground);
  color: var(--color-background);
  border-radius: 50%;
  font-size: var(--font-size-600);
  font-weight: 700;
  animation: rotateCircle 2s linear infinite;
}

/* Left Circle */

.circle-1 {
  top: 6.5rem;
  left: 3rem;
}

.circle-2 {
  top: 11.5rem;
  left: 3rem;
}

.circle-3 {
  top: 3.5rem;
  left: 8rem;
}

.circle-4 {
  top: 8.5rem;
  left: 8rem;
}

.circle-5 {
  top: 1.5rem;
  left: 13rem;
}

.circle-6 {
  top: 6rem;
  left: 13rem;
}

.circle-7 {
  top: 1rem;
  left: 18rem;
}

.circle-8 {
  top: 5.5rem;
  left: 18rem;
}

.disclaimer {
  max-width: 80rem;
  font-size: var(--font-size-300);
  font-weight: 400;
  margin: auto auto 1rem;
  align-self: flex-end;
}

.disclaimer + .copyright {
  margin-top: 0;
}

.copyright {
  margin-bottom: 1rem;
  margin-top: auto;
}

/* Game */

.instructions {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  max-width: 50ch;
}

.question {
  margin-top: auto;
  margin-bottom: 1rem;
  max-width: clamp(15rem, 20vw, 25rem);
  aspect-ratio: 3/2;
  width: 100%;
  background: var(--color-onBackground);
}

.question-img {
  max-width: clamp(15rem, 20vw, 25rem);
  aspect-ratio: 3/2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border: 3px solid white;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.4);
}

.categories {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: auto 0;
  max-width: 1280px;
  padding-bottom: 1rem;
}

.category {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  flex-direction: column;
  color: var(--color-onBackground);
  padding: 0;
  transition: transform ease-in-out 200ms;
  color: inherit;
  text-decoration: none;
}

.category:hover,
.category:focus {
  transform: scale(1.1);
}

.category > * {
  pointer-events: none;
}

.category img {
  max-width: 4rem;
  width: 64px;
  height: 72px;
}

/* Results */
.result {
  font-size: var(--font-size-800);
}

.result-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.75rem;
  aspect-ratio: 1;
  margin: auto 0 1.5rem;
  border-radius: 50%;
  border: 8px solid white;
}

.result-mark-success {
  background: var(--color-success);
}

.result-mark-error {
  background: var(--color-background);
}

.result-copy {
  font-size: var(--font-size-500);
}

.result-copy + .btn-group {
  margin-top: initial;
}

.smiley {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 128px;
  border: 6px solid var(--color-onPrimary);
  background: var(--color-primary);
  border-radius: 50%;
  overflow: hidden;
  margin: auto 0 1rem;
}

.smiley--frown > .face {
  background: var(--color-primary);
}

.smiley--frown .mouth {
  transform: rotate(180deg);
}

.smiley--frown .mouth::before {
  content: unset;
}

.face {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.eyes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 60%;
}

.eye {
  background: var(--color-onPrimary);
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
}

.mouth {
  display: block;
  width: 24px;
  height: 16px;
  background: var(--color-onPrimary);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  overflow: hidden;
}

.mouth::before {
  content: "";
  display: block;
  width: 20px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-error);
  position: absolute;
  left: 50%;
  bottom: 2px;
  transform: translateX(-50%);
}

.final-score {
  font-weight: 600;
}

/* Info Page */

.page-container--info {
  display: flex;
  text-align: left;
  align-items: start;
  max-width: 80rem;
  margin: 0 auto;
}

.page-container--info .copyright {
  text-align: center;
  width: 100%;
}

.sources {
  display: flex;
  align-content: start;
  flex-direction: column;
}

.info-description {
  max-width: 60ch;
  white-space: pre-wrap;
  line-height: 1.5;
}

.examples-title {
  margin: 1.5rem 0;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.example {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.example figcaption {
  margin-top: .5rem;
  text-align: center;
}

.example-img {
  max-width: 15rem;
  aspect-ratio: 3/2;
  border: 3px solid white;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.4);
  background: var(--color-onBackground);
  border-color: var(--color-onBackground);
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

/* Scores */

.scores {
  font-size: var(--font-size-500);
}

.score-labels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  font-weight: 600;
  text-align: right;

}

.score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  text-align: right;
}

@media (min-width: 32.5em) {
  .categories {
    grid-template-columns: repeat(4, 1fr);
    margin: auto 1.5rem;
  }

  .page-container--home {
    padding: 0 1.5rem;
  }
}

@media (min-width: 48em) {
  .categories {
    grid-template-columns: repeat(6, 1fr);
    margin: auto 1.5rem;
  }

  .btn-exit-top {
    position: absolute;
    top: 1.5rem;
    left: 3rem;
    margin-top: auto;
  }

  .page-container--info {
    padding: 0rem 13rem 0;
  }
}

@media (min-width: 64em) {
  .title {
    margin: 3.5rem 0 1.5rem;
  }

  .page-container--home {
    position: none;
  }
  .circles {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    animation: none;
  }

  .circles-left {
    position: absolute;
    left: 0;
  }

  .circles-right {
    position: absolute;
    right: 0;
    transform-origin: center center;
    transform: scaleX(-1);
  }

  .circles-right > .circle {
    transform: scaleX(-1);
  }

  .circle {
    position: absolute;
    margin: 0 1rem;
  }
}

@media (min-width: 100em) {
  .page-container--info {
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    align-items: flex-start;
  }
}

@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1s !important;
    animation-duration: 1s !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
  }
}